<html ng-app="todoApp">
 <head>
   <meta charset="utf-8">
   <title>To Do Example</title>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
   <script>
     var todoApp = angular.module('todoApp', []);
    todoApp.controller('TodoCtrl', function ($scope){

       $scope.showState = 'everything';

       $scope.todos = [{id: 0, name: 'task zero', complete:false, edit:false},
                      {id: 1, name: 'task one', complete:false, edit:false}, 
                      {id: 2, name: 'task two', complete:false, edit:false}];

        var id = 0;

       $scope.update = function( event) {
          if( !event || event.keyCode === 13 ) {
              var newval = { 
                    id: id, 
                    name: $scope.newTodo, 
                    complete:false, 
                    edit:false 
              };
              id++;
              $scope.todos.push( newval);
              $scope.newTodo = "";
          }
       }; 
     
      $scope.editTodo = function( event, t) {
          if( event.keyCode === 13 ){
              console.log(event);
              t.name = event.target.value; 
              t.edit = false;
          }
       };  
     

       $scope.removeTodo = function (str){
            //$scope.todos.push( $scope.newTodo );
            //alert(str);
            var index = $scope.todos.findIndex( function (item) { 
                   return item.id === str;
               } );

            //alert(index);
            $scope.todos.splice(index, 1);
       };

        $scope.complete = function (str){
            var index = $scope.todos.findIndex( function (item) { 
                   return item.id === str;
               } );

            $scope.todos[ index ].complete = true;
       };

        $scope.showFilter = function(value, index, array) {
            if ($scope.showState === 'everything') {
                return true;
            } else if ($scope.showState === 'completed') {
                return value.complete;
            } else if ($scope.showState === 'active') {
                return !value.complete;
            }
        };
       
     });
   </script>
 </head>
 <body ng-controller="TodoCtrl">
   Todo: <input type="text" ng-model="newTodo" ng-keyup="update($event)" />
   <button ng-click="update()">add todo</button>
   
   <table>
     <tr ng-repeat="todo in todos | filter:showFilter">
       <td><input type="checkbox" ng-model="todo.complete" ng-true-value="true"/></td>
       <td>
       <span ng-switch="todo.edit">
           <span ng-switch-when="false" ng-dblclick="todo.edit = true">{{todo.name}}</span>
           <input ng-switch-when="true" type="text" ng-model="todo.name" ng-keyup="editTodo($event, todo)" />
       </span>
       </td>
       <td>
       <button ng-click="removeTodo(todo.id)">x</button>
       </td>
       </tr>
   </table>

<button ng-click="showState = 'everything'">Show All</button>
    <button ng-click="showState = 'completed'">Show Complete</button>
    <button ng-click="showState = 'active'">Show Active</button>
 </body>
</html>