HTML    Result
Edit on 
<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

  <style>
    .listdemoListControls md-divider {
  margin-top: 0;
  margin-bottom: 0; }

.listdemoListControls md-list {
  padding-top: 0; }

.listdemoListControls md-list-item > p,
.listdemoListControls md-list-item > .md-list-item-inner > p,
.listdemoListControls md-list-item .md-list-item-inner > p,
.listdemoListControls md-list-item .md-list-item-inner > .md-list-item-inner > p {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */ }

  .bottomSheetdemoBasicUsage .md-inline-list-icon-label {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -10px;
  height: 24px;
  vertical-align: middle; }

.bottomSheetdemoBasicUsage .md-grid-item-content {
  height: 90px;
  padding-top: 10px; }

.bottomSheetdemoBasicUsage .md-grid-item-content md-icon {
  height: 48px;
  width: 48px; }

.bottomSheetdemoBasicUsage .md-grid-text {
  padding-bottom: 5px; }

.bottomSheetdemoBasicUsage md-list-item, .bottomSheetdemoBasicUsage md-list-item .md-list-item-inner {
  min-height: 48px; }

.bottomSheetdemoBasicUsage h2 {
  line-height: 36px;
  padding-top: 10px; }

.bottomSheetdemoBasicUsage .md-subheader .md-subheader-inner {
  padding: 0; }

.bottomSheetdemoBasicUsage md-toast .md-toast-content {
  background-color: #B14141; }

.bottomSheetdemoBasicUsage md-toast > * {
  font-weight: bolder; }

.toolbardemoScrollShrink .face {
  width: 48px;
  margin: 16px;
  border-radius: 48px;
  border: 1px solid #ddd; }

    </style>
</head>
<body ng-app="MyApp" ng-cloak>
  <!--
    Your HTML content here
  -->  
  
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>
  


  <!-- Angular Material Library -->
  <script src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0/angular-material.js"></script>
  
  <!-- Your application bootstrap  -->
  <script type="text/javascript">    
   
  angular.module('MyApp',['ngMaterial', 'ngMessages', 'material.svgAssetsCache'])
.config(function($mdIconProvider) {
  $mdIconProvider
    .iconSet('social', 'img/icons/sets/social-icons.svg', 24)
    .iconSet('device', 'img/icons/sets/device-icons.svg', 24)
    .iconSet('communication', 'img/icons/sets/communication-icons.svg', 24)
    .defaultIconSet('img/icons/sets/core-icons.svg', 24);
})
.controller('ListCtrl', function($scope, $mdDialog) {
  

  $scope.people = [
    { name: 'Janet Perkins', img: 'img/100-0.jpeg', newMessage: true },
    { name: 'Mary Johnson', img: 'img/100-1.jpeg', newMessage: false },
    { name: 'Peter Carlsson', img: 'img/100-2.jpeg', newMessage: false }
  ];

  $scope.goToPerson = function(person, event) {
    $mdDialog.show(
      $mdDialog.alert()
        .title('Navigating')
        .textContent('Inspect ' + person)
        .ariaLabel('Person inspect demo')
        .ok('Neat!')
        .targetEvent(event)
    );
  };

  $scope.navigateTo = function(to, event) {
    $mdDialog.show(
      $mdDialog.alert()
        .title('Navigating')
        .textContent('Imagine being taken to ' + to)
        .ariaLabel('Navigation demo')
        .ok('Neat!')
        .targetEvent(event)
    );
  };

  $scope.doPrimaryAction = function(event) {
    $mdDialog.show(
      $mdDialog.alert()
        .title('Primary Action')
        .textContent('Primary actions can be used for one click actions')
        .ariaLabel('Primary click demo')
        .ok('Awesome!')
        .targetEvent(event)
    );
  };

  $scope.doSecondaryAction = function(event) {
    $mdDialog.show(
      $mdDialog.alert()
        .title('Secondary Action')
        .textContent('Secondary actions can be used for one click actions')
        .ariaLabel('Secondary click demo')
        .ok('Neat!')
        .targetEvent(event)
    );
  };

})
.controller('AppCtrl', function ($scope, $timeout, $mdSidenav) {
    $scope.toggleLeft = buildToggler('left');
    $scope.toggleRight = buildToggler('right');

    function buildToggler(componentId) {
      return function() {
        $mdSidenav(componentId).toggle();
      }
    }
  })
.config(function($mdIconProvider) {
    $mdIconProvider
      .icon('share-arrow', 'img/icons/share-arrow.svg', 24)
      .icon('upload', 'img/icons/upload.svg', 24)
      .icon('copy', 'img/icons/copy.svg', 24)
      .icon('print', 'img/icons/print.svg', 24);
  })
.controller('BottomSheetExample', function($scope, $timeout, $mdBottomSheet, $mdToast) {
  $scope.alert = '';

  $scope.showListBottomSheet = function() {
    $scope.alert = '';
    $mdBottomSheet.show({
      templateUrl: 'bottom-sheet-list-template.html',
      controller: 'ListBottomSheetCtrl'
    }).then(function(clickedItem) {
      $scope.alert = clickedItem['name'] + ' clicked!';
    });
  };

})

.controller('ListBottomSheetCtrl', function($scope, $mdBottomSheet) {

  $scope.items = [
    { name: 'Share', icon: 'share-arrow' },
    { name: 'Upload', icon: 'upload' },
    { name: 'Copy', icon: 'copy' },
    { name: 'Print this page', icon: 'print' },
  ];

  $scope.listItemClick = function($index) {
    var clickedItem = $scope.items[$index];
    $mdBottomSheet.hide(clickedItem);
  };
})

.controller('TitleController', function($scope) {
  $scope.title = 'THE BOOTCAMP SLACK CLONE';
});

  </script>


<div ng-controller="AppCtrl" ng-cloak="" class="toolbardemoBasicUsage" ng-app="MyApp">

  <md-content>

    <br>

    <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
        </md-button>
        <h2>
          <span>THE BOOTCAMP STACK CLONE</span>
        </h2>
        <span flex=""></span>
        <md-input-container class="md-icon-flo md-block">
          <!-- Use floating label instead of placeholder -->
          <md-icon  class="materials-icons">search</md-icon>
          <input ng-model="user.name" type="text">
        </md-input-container>
       <md-button class="md-icon-button" aria-label="Favorite">
          <md-icon  class="materials-icons">turned_in</md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Favorite">
          <md-icon  class="materials-icons">star</md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="More">
          <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

  </md-content>
</div>

<div ng-controller="AppCtrl" layout="column" style="height: 500px;" ng-cloak="" class="sidenavdemoCustomSidenav" ng-app="MyApp">

  <section layout="row" flex="">

    <md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop="" md-whiteframe="4">

      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">CHANNELS</h1>
      </md-toolbar>

      <md-content layout-margin="">
        <p>
          CHANNELS (3)
        </p>

        <p>
          DIRECT MESSAGES (2)
        </p>


        <md-button ng-click="toggleLeft()" class="md-accent">
          Close
        </md-button>
      </md-content>

    </md-sidenav>

    <md-content flex="" layout-padding="">

      <div layout="column" layout-align="top right">

        <div>
          <md-button ng-click="toggleLeft()" class="md-raised">
            Show Channels
          </md-button>

          <md-list ng-controller="ListCtrl" ng-cloak="" class="listdemoListControls" ng-app="MyApp">

            <md-list-item ng-repeat="person in people" ng-click="goToPerson(person.name, $event)" class="md-3-line">
              <md-icon  class="materials-icons">person</md-icon>
              <p><b>{{ person.name }}</b>  -  This is a message!</p>
              <md-checkbox class="md-secondary" ng-model="person.selected"></md-checkbox>
              <md-icon  ng-click="doSecondaryAction($event)" aria-label="Favorite" class="md-secondary md-hue-3">star</md-icon>
              <md-icon class="md-secondary" ng-click="doSecondaryAction($event)" aria-label="Chat" md-svg-icon="communication:message"></md-icon>
              <md-divider></md-divider>
            </md-list-item>
            
          </md-list>

        </div>

      </div>

  <md-input-container class="md-icon-float md-block">
      <!-- Use floating label instead of placeholder -->
      <label>Message</label>
     
      <md-icon  class="materials-icons">message</md-icon> 
      <input ng-model="user.name" type="text">
    </md-input-container>

    </md-content>

  </section>

</div>

<!--- bottom sheet --->

 <div ng-controller="BottomSheetExample" class="md-padding bottomSheetdemoBasicUsage" ng-cloak="" ng-app="MyApp">
  
  <div class="bottom-sheet-demo inset" layout="row" layout-sm="column" layout-align="center">
    <md-button flex="50" class="md-primary md-raised" ng-click="showListBottomSheet()">Show Actions</md-button>   
  </div>

  <div ng-if="alert">
    <br>
    <b layout="row" layout-align="center center" class="md-padding">
      {{alert}}
    </b>
  </div>

</script><script type="text/ng-template" id="bottom-sheet-list-template.html"><md-bottom-sheet class="md-list md-has-header">
  <md-subheader ng-cloak>Comment Actions</md-subheader>
  <md-list ng-cloak>
    <md-list-item ng-repeat="item in items">

      <md-button
          ng-click="listItemClick($index)"
          md-autofocus="$index == 2"
          class="md-list-item-content" >
        <md-icon md-svg-src="{{item.icon}}"></md-icon>
        <span class="md-inline-list-icon-label">{{ item.name }}</span>
      </md-button>

    </md-list-item>
  </md-list>
</md-bottom-sheet>
</script></div> 


</body>
</html>

