<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
   <link rel="stylesheet" href="dist/css/textAngular.css">
   <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
	 <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,300">
 

  <style>

.ta-toolbar {
	background-color: #F0F0F0;
	padding: 10px 10px 5px;
	margin-left: 0px; /* Override bootstrap */
	border: 1px solid #EEE;
}

.ta-toolbar .btn-group {
	margin-bottom: 5px;
}

.ta-editor, .white-box {
	padding: 10px;
	background-color: #FFF;
	border: 1px solid #EEE;
}

textarea.ta-bind {
	width: 100%;
}

.listdemoListControls md-divider {
  margin-top: 0;
  margin-bottom: 0; }

.listdemoListControls md-list {
  padding-top: 0; }

.listdemoListControls md-list-item > p,
.listdemoListControls md-list-item > .md-list-item-inner > p,
.listdemoListControls md-list-item .md-list-item-inner > p,
.listdemoListControls md-list-item .md-list-item-inner > .md-list-item-inner > p {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */ }

  .bottomSheetdemoBasicUsage .md-inline-list-icon-label {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -10px;
  height: 24px;
  vertical-align: middle; }

.bottomSheetdemoBasicUsage .md-grid-item-content {
  height: 90px;
  padding-top: 10px; }

.bottomSheetdemoBasicUsage .md-grid-item-content md-icon {
  height: 48px;
  width: 48px; }

.bottomSheetdemoBasicUsage .md-grid-text {
  padding-bottom: 5px; }

.bottomSheetdemoBasicUsage md-list-item, .bottomSheetdemoBasicUsage md-list-item .md-list-item-inner {
  min-height: 48px; }

.bottomSheetdemoBasicUsage h2 {
  line-height: 36px;
  padding-top: 10px; }

.bottomSheetdemoBasicUsage .md-subheader .md-subheader-inner {
  padding: 0; }

.bottomSheetdemoBasicUsage md-toast .md-toast-content {
  background-color: #B14141; }

.bottomSheetdemoBasicUsage md-toast > * {
  font-weight: bolder; }

.toolbardemoScrollShrink .face {
  width: 48px;
  margin: 16px;
  border-radius: 48px;
  border: 1px solid #ddd; }

    </style>
</head>
<body ng-app="slackApp">
  <!--
    Your HTML content here
  -->  
  
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.js"></script>
  <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>
  
  <script src="https://cdn.jsdelivr.net/lodash/4.15.0/lodash.min.js"></script>
  <script src="dist/js/textAngular-rangy.min.js" type="text/javascript"></script>
  <script src="dist/js/textAngular-sanitize.min.js" type="text/javascript"></script>
  <script src="dist/js/textAngular.min.js" type="text/javascript"></script>
  <script src="object-merge.js" type="text/javascript"></script>
  <script src="moment.min.js" type="text/javascript"></script>

  <script src="slack.js"></script>

  <!-- Angular Material Library -->
  <script src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0/angular-material.js"></script>
  	
<!-- Your application bootstrap  -->

  <script>
      moment().format();

      var slackApp = //angular.module('slackApp', ['ngRoute']);
            angular.module('slackApp',['ngMaterial', 'ngMessages', 'material.svgAssetsCache','ngRoute', 'textAngular'])

      slackApp.config(function($routeProvider) {
        $routeProvider.
          when('/', {
            templateUrl: 'message-list.html',
            controller: 'MessageListCtrl'
          }).
          //  when('/user', {
          //   templateUrl: 'user-list.html',
          //   controller: 'userListCtrl'
          // }).
          when('/channels', {
            templateUrl: 'channel-list.html',
            controller: 'ChannelListCtrl'
          }).
          when('/channel/:channel', {
            templateUrl: 'channel-detail.html',
            controller: 'ChannelDetailCtrl'
          }).
          when('/message/:messageId', {
            templateUrl: 'message-detail.html',
            controller: 'MessageDetailCtrl'
          }).
          when('/search', {
            templateUrl: 'search-list.html',
            controller: 'SearchListCtrl'
          }).
          when('/search/:search', {
            templateUrl: 'search-list.html',
            controller: 'SearchListCtrl'
          }).
          when('/cart', {
            templateUrl: 'cart.html',
            controller: 'CartCtrl'
          }).
          otherwise({
            redirectTo: '/'
          });
      });

      // Create the factory that share the Fact
      slackApp
      .factory('Slack', function($http){
        var o = {};
        
        o.userCb = function(callback, callback2, userid){
          $http.get( "/rest/userinfo/" + userid).
             success( function (data) {
                  o.user = data;
                  callback(data);   
                  var l = [];
                  console.log(o.user.channels);
                  for( var i in o.user.channels)
                    {
                      l.push( o.user.channels[i].id);
                    }

                   $http.get( 'http://localhost:3000/rest/messages/' + l.join()).   
                        success( function (data) {
                              console.log("channel data" + data);
                              o.channels = data;
                              callback2(o.channels);               
                        });           
             });
          };


        o.channelCb = function( callback, channelId ){
            $http.get( 'http://localhost:3000/rest/messages/' + channelId).   
                        success( function (data) {
                              console.log("channel data:" + data[0].id);
                              callback(data);               
                        });   

        };

        
        o.user = {};
        o.messages =  [];
        o.channels = [];
        o.loggedin = false;
        return o;
      });

      slackApp
    .controller('MessageListCtrl', function ($scope, $http,  $mdDialog, $mdToast, $rootScope, Slack){


       $scope.waiting = false;
       $scope.loggedin = Slack.loggedin;
        
          Slack.userCb(function(data){
            $scope.user = Slack.user; // fill in scope when done
                },  function(data ){

                console.log(data);

                var messages= [];
                for( var msg in data )
                  {
                  messages = messages.concat( data[msg].messages );
                  }
                Slack.messages = messages;
                $scope.messages = messages;  
                Slack.channels = data;
                $scope.channels = Slack.channels; // fill in scope when done
                }, 
                Slack.user.id 
            );
          
        


  $scope.showPrompt = function(ev) {
    // Appending dialog to document.body to cover sidenav in docs app
    var confirm = $mdDialog.prompt()
      .title('Log In to Slack Clone')
      .textContent("You don't need a password, we'll just make a guess!")
      .placeholder('User Name')
      .ariaLabel('User Name')
      .initialValue('Alice')
      .targetEvent(ev)
      .ok('Login');
     
    if( $scope.loggedin === false ){
      $mdDialog.show(confirm).then(function(result) {
      $scope.waiting = true;
      console.log(Slack.users);
      // find user with same name
      
      var founduser = Slack.users.find(function(item){ return item.name === result });
      
      if( founduser != null )
        {
          $mdToast.show(
                      $mdToast.simple()
                        .textContent('Login Succesful!')
                        .position('top right')
                        .hideDelay(3000)
                    );
         $scope.loggedin = true;
         Slack.loggedin = true;  
         Slack.user = founduser;
         $scope.user = founduser;       
         $rootScope.$broadcast('UserChangedEvent', founduser );   
        $scope.waiting = false;
        }
      else
      {
         $mdToast.show(
                      $mdToast.simple()
                        .textContent('Login Fail!')
                        .position('top right')
                        .hideDelay(3000)
                    );
         $scope.loggedin = false;
          Slack.loggedin = false;
      }   
      
     }, function() {
      $scope.loggedin = false;
      Slack.loggedin = false;
    });
    } else { 
      $scope.loggedin = false; // toggle off!
      $scope.user = null;
      $mdToast.show(
                      $mdToast.simple()
                        .textContent('Logged Out!')
                        .position('top right')
                        .hideDelay(3000)
                    );
       $rootScope.$broadcast('UserChangedEvent', null );   
    }


  };
    
  
});



      slackApp
    .controller('ChannelListCtrl', function ($scope, $timeout, $mdSidenav, Slack) {
        $scope.toggleLeft = buildToggler('left');
        $scope.toggleRight = buildToggler('right');

        function buildToggler(componentId) {
          return function() {
            $scope.channels = Slack.channels;
            $mdSidenav(componentId).toggle();

          };
        }
  
        $scope.channels = Slack.channels;

      });


      slackApp
    .controller('ChannelDetailCtrl', function ($scope, $routeParams, $http,  $timeout, $mdSidenav, $mdDialog,  $mdToast, $rootScope, Slack){

        var find =  parseInt($routeParams.channel);

        console.log(find);

        var channel = Slack.channels.find( function (item) { 
                   return item.id === find;
               } );

         console.log(channel);

        if( channel != undefined ){
        $scope.index = channel.messages;
        
//         Slack.messages.filter( function (item) { 
//                    console.log(Slack.messages);
//                    console.log(find);
//                    return item.channel.indexOf(find) != -1;
//                } );

     
        $scope.channelItems.length = 0;
        $scope.channelItems.concat( channel.messages );

        $scope.members = channel.team.members;

        $scope.team = channel.team;

        
        $scope.channel = channel;

        $scope.channels = Slack.channels;

        $scope.user = Slack.user;


        }

         $rootScope.$on("UserChangedEvent", function (event, user) {
              Slack.userCb(function(data){
              $scope.user = user; // fill in scope when done
                  },  function(data ){

                  console.log(data);

                  var messages= [];
                  for( var msg in data )
                    {
                    messages = messages.concat( data[msg].messages );
                    }
                  Slack.messages = messages;
                  $scope.messages = messages;  
                  console.log(data);
                  Slack.channels = data;
                  $scope.channels =data; // fill in scope when done
                  $scope.changeChannel(data[0].id);
                  }, user.id
            
              );
              
              });

        var poll = function() {
           $timeout(function() {
                if( Slack.channel !== undefined){
                  Slack.channelCb(function(channel){
                        needToSave = false;
                        needToUpdate = false;
                        needToMerge = false;
                        // check first if Slack.channel (old channel) is same as scope
                        if( !angular.equals($scope.channel, Slack.channel) ){
                          // boolean... need to send changes!
                          needToSave = true;
                        } 

                         if( !angular.equals(channel[0], Slack.channel) ){
                          // boolean... need to send changes!
                          needToUpdate = true;
                        } 

                        if( needToSave && needToUpdate){
                          // merge
                          var merge = Object.merge(Slack.channel, channel[0], $scope.channel);
                          Slack.channel = merge['merged'];
                          $scope.channel =  angular.copy(Slack.channel, $scope.channel); 
                          $scope.addMessage(true);
                          console.log("channel merged.");
                        } else if (needToSave){
                          angular.copy($scope.channel, Slack.channel); // save history
                          $scope.addMessage(true);
                          console.log("channel saved.");
                        } else if (needToUpdate){
                          Slack.channel = channel[0];
                          angular.copy(Slack.channel, $scope.channel); // update from source
                          console.log("channel updated");
                        } else
                          console.log("channel not changed.");

                        $scope.channelItems = $scope.channel.messages;
                        //$scope.channel = Slack.channel;
                        //$scope.channel = Slack.channel;
                        

                  }, Slack.channel.id );
                }
                poll();
                }, 5000);
        };     
        poll();      

        $scope.addMessage = function(fromPoll) {
           
              //$scope.channel = Slack.channel;
              if( fromPoll !== true)
                  $scope.channel.messages.push({id:$scope.channel.messages.length,  "content":$scope.newMessage, timestamp: new Date().getTime(), user: Slack.user} );
              $scope.newMessage = "";

              console.log(  JSON.stringify($scope.channel));
              
              // what channel was edited??
              // need to update http!!!
               $http({
                  method: 'POST',
                  url: 'http://localhost:3000/rest/sendMessage/' + $scope.channel.id,
                  headers: {
                    'Content-Type': "application/json" 
                  },
                  data: JSON.stringify($scope.channel) 
                  }).
                  success( function (data) {
                    $mdToast.show(
                      $mdToast.simple()
                        .textContent('Message Saved!')
                        .position('top right')
                        .hideDelay(3000)
                    );
                         
                    });
            };

      $scope.editMessage = function( event, t) {
          if( event.keyCode === 13 ){
              console.log(event);
              t.content = event.target.value; 
              t.edit = false;
          }
       };  

       $scope.removeMessage= function (messageId){
          
               var index = $scope.channel.messages.findIndex( function (item) { 
                   return item.id === messageId;
               } );
               
                $scope.channel.messages.splice(index, 1);
       };

        $scope.removeChannelConfirm = function (id){
           var confirm = $mdDialog.confirm()
            .title('Would you like to remove the channel?')
            .ok('OK')
            .cancel('Cancel');

            $mdDialog.show(confirm).then(function() {
               
               $scope.removeChannel(id);
               $mdToast.show(
                      $mdToast.simple()
                        .textContent('Channel Removed!')
                        .position('top right')
                        .hideDelay(3000)
                    );
            }, function() {
              // growl?
            });

           
       };

      $scope.asDate = function(t){
          if(t.timestamp === undefined)
              t.timestamp = new Date();
          else
            t.timestamp = new Date(t.timestamp);
          return moment(t.timestamp).fromNow();
        }

      $scope.removeChannel= function (channelId){
            var index = $scope.user.channels.findIndex( function (item) { 
                   return item.id === channelId;
               } );

            $scope.user.channels.splice(index, 1);
            // need to save user
       };



       $scope.addChannel = function (channelId){
            var index = $scope.user.channels.findIndex( function (item) { 
                   return item.id === channelId;
               } );

            if( index === -1)
                $scope.user.channels.push({id: channelId});
            // need to save user
       };


      $scope.changeChannel = function(find) {
           // this should actually change the channel using a retrieve.
           // also this should be polled!
           

           Slack.channelCb(function(channel){
              
                Slack.channel = channel[0];
                $scope.channelItems = Slack.channel.messages;
                $scope.channel = Slack.channel;
                //$scope.$apply(); no need!
               // need to update channels????

           }, find );
        
          //   console.log(find);

          if( Slack.channel !== undefined )
            {
            $scope.channelItems = Slack.channel.messages;
            $scope.channel = Slack.channel;
            }       
        };

        $scope.changePrivateChannel = function(user1, user2) {
       
           var channelid;
           for( var c of user1.private){
               if( c.userid === user2.id ){
                 channelid = c.channelid;
                 break;
               }

           }; // look through private channels looking for user2 channel

           // if no channel found create a new channel
           // save that new channel.... 
           // update user1 and user2 adding the new channel
           if( channelid !== undefined ){
              Slack.channelCb(function(channel){
                  
                    Slack.channel = channel[0];
                    $scope.channelItems = Slack.channel.messages;
                    $scope.channel = Slack.channel;
                    //$scope.$apply(); no need!
                  // need to update channels????

              }, channelid );
            
              //   console.log(find);

              if( Slack.channel !== undefined )
                {
                $scope.channelItems = Slack.channel.messages;
                $scope.channel = Slack.channel;
                };
           } else { alert("No private channel found!") }; 
        };


        $scope.toggleLeft = buildToggler('left');
        $scope.toggleRight = buildToggler('right');

        function buildToggler(componentId) {
          return function() {
            $scope.channels = Slack.channels;
            $mdSidenav(componentId).toggle();

          }
        }



  $scope.goToPerson = function(person, event) {
     // add mention to text
    //$scope.newMessage = $scope.newMessage + '@' + person.name;
    //insertTextAtCursor('@' + person);
  
    $mdDialog.show(
      $mdDialog.alert()
        .title('Tagging')
        .textContent('Inspect ' + person)
        .ariaLabel('Tagging person to message')
        .ok('Thanks!')
        .targetEvent(event)
        );
  
  };

  $scope.navigateTo = function(to, event) {
    $mdDialog.show(
      $mdDialog.alert()
        .title('Navigating')
        .textContent('Imagine being taken to ' + to)
        .ariaLabel('Navigation demo')
        .ok('Neat!')
        .targetEvent(event)
    );
  };



  
      });

       slackApp
      .controller('SearchListCtrl', function ($scope, $routeParams, Slack){

         //$scope.search = $routeParams.search;

         $scope.search = function( event) {
          if( !event || event.keyCode === 13 ) {
              console.log($scope.searchText);
              
             };            
           }
           
         $scope.messages = Slack.messages;

       });



      slackApp
    .controller('MessageDetailCtrl', function ($scope, $routeParams, Slack){
      
        var find = parseInt( $routeParams.messageId);

        var index = Slack.messages.find( function (item) { 
                   return item.id === find;
               } );
               
        $scope.keys = Object.keys(index);
        $scope.messages = index; 
         
      }) 


    
   .controller('UserListCtrl', function ($scope,$http, Slack){
     $http({
                  method: 'get',
                  url: '/rest/user/'
                  }).
                  success( function (data) {
                   $scope.users =  data;
                   Slack.users = data;
                   //  console.log("data", JSON.stringify($scope.users));         
              });
            })


    // End here

  
  
.config(function($mdIconProvider) {
  $mdIconProvider
    .iconSet('social', 'img/icons/sets/social-icons.svg', 24)
    .iconSet('device', 'img/icons/sets/device-icons.svg', 24)
    .iconSet('communication', 'img/icons/sets/communication-icons.svg', 24)
    .iconSet("avatar", 'icons/avatar-icons.svg', 128)
    .defaultIconSet('img/icons/sets/core-icons.svg', 24);
})

.controller('AppCtrl', function ($scope, $timeout, $mdSidenav) {
  })

.config(function($mdIconProvider) {
    $mdIconProvider
      .icon('share-arrow', 'img/icons/share-arrow.svg', 24)
      .icon('upload', 'img/icons/upload.svg', 24)
      .icon('copy', 'img/icons/copy.svg', 24)
      .icon('print', 'img/icons/print.svg', 24);
  })
.controller('BottomSheetExample', function($scope, $timeout, $mdBottomSheet, $mdToast) {
  $scope.alert = '';

  $scope.showListBottomSheet = function() {
    $scope.alert = '';
    $mdBottomSheet.show({
      templateUrl: 'bottom-sheet-list-template.html',
      controller: 'ListBottomSheetCtrl'
    }).then(function(clickedItem) {
      $scope.alert = clickedItem['name'] + ' clicked!';
    });
  };

})

.controller('ListBottomSheetCtrl', function($scope, $mdBottomSheet) {

  $scope.items = [
    { name: 'Share', icon: 'share-arrow' },
    { name: 'Upload', icon: 'upload' },
    { name: 'Copy', icon: 'copy' },
    { name: 'Print this page', icon: 'print' },
  ];

  $scope.listItemClick = function($index) {
    var clickedItem = $scope.items[$index];
    $mdBottomSheet.hide(clickedItem);
  };
})

.controller('TitleController', function($scope) {
  $scope.title = 'THE BOOTCAMP SLACK CLONE';
});



function insertTextAtCursor(text) {

                    var sel, range;
                    if (window.getSelection) {
                        sel = window.getSelection();
                       
                        if (sel.getRangeAt && sel.rangeCount) {
                            range = sel.getRangeAt(0);
                            range.deleteContents();
                            range.insertNode(document.createTextNode(text));
                        }
                    } else if (document.selection && document.selection.createRange) {
                        document.selection.createRange().text = text;
                        c
                    }
                }

  </script>


<div ng-controller="MessageListCtrl" ng-cloak="" class="toolbardemoBasicUsage" ng-app="slackApp">

  <md-content>

    <br>

    <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
        </md-button>
        <h2>
          <span>THE BOOTCAMP STACK CLONE</span>
        </h2>
        <md-progress-linear ng-if="waiting" md-mode="indeterminate"></md-progress-linear>
        <span flex=""></span>
        
       
        <md-button class="md-icon-button" ng-click="showPrompt($event)">
           <div ng-switch="loggedin">
              <md-icon  class="materials-icons" ng-switch-when="true">lock_open</md-icon>
              <md-icon  class="materials-icons" ng-switch-when="false">lock_outline</md-icon>
            </div>
          </md-button>
      </div>
    </md-toolbar>

  </md-content>
</div>

<div ng-controller="ChannelDetailCtrl" layout="column" style="height: 1000px;" ng-cloak="" class="sidenavdemoCustomSidenav" ng-app="slackApp">

  <section layout="row" flex="">

    <md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop="" md-whiteframe="4"> 

      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">CHANNELS</h1>
      </md-toolbar>

      <md-content layout-margin="">

        <md-icon md-svg-icon="avatar:svg-{{user.id + 1}}"></md-icon> <b>{{user.name}}</b>
        

        <p>
          CHANNELS ({{channels.length}})
          <md-divider></md-divider>
          <md-list-item ng-repeat="item in channels"><md-button  ng-click="changeChannel(item.id)">{{item.name}} ({{item.messages.length}})</md-button>
          </md-list-item>
        </p>
       
       
          

          <p ng-controller="UserListCtrl">
          DIRECT MESSAGES
          <md-divider></md-divider>         
           <md-list-item  ng-repeat="u in users">
              <md-button ng-if="u.id !== user.id" ng-click="changePrivateChannel(user,u)"><md-icon md-svg-icon="avatar:svg-{{u.id + 1}}">
                </md-icon> {{u.name}}</md-button> 
            </md-list-item>   
          </p>  

          <p>
          SEARCH CHANNELS
          <md-divider></md-divider>
           <md-input-container class="md-icon-flo md-block">
            <!-- Use floating label instead of placeholder -->
            <md-icon  class="materials-icons">search</md-icon>
            <input ng-model="channelSearchText" type="text">
          </md-input-container> 
          </p>
         
        <md-button ng-click="toggleLeft()" class="md-accent">
          Close
        </md-button>
      </md-content>

    </md-sidenav>

    <md-content flex="" layout-padding="">

      <div layout="column" layout-align="top right">

        <div>
          <md-button ng-click="toggleLeft()" class="md-raised md-primary">
            Show Channels
          </md-button>
        
          <md-button class="md-raised md-secondary" ng-click="">
            Invite Users
          </md-button>

           <md-button class="md-raised md-warn" ng-click="removeChannelConfirm(channel.id)" >
            Remove Channel
          </md-button>

         <div >
           <md-subheader class="md-primary">
            <span>
              <md-input-container class="md-icon-flo md-block">
                User: <b>{{user.name}}</b>   Channel: <b>{{channel.name}}</b> <b>{{channel.id}}</b>
                <!-- Use floating label instead of placeholder -->
                <md-icon  class="materials-icons">search</md-icon>
                <input ng-model="searchText" type="text">
              </md-input-container> 
             </span> 
           </md-subheader>
           
           <md-list ng-cloak="" class="listdemoListControls" ng-app="slackApp">


            <md-list-item  ng-repeat="item in channelItems | filter:{content:searchText}  track by $index"  class="md-3-line">
                <md-icon class="md-avatar-icon md-48"  md-svg-icon="avatar:svg-{{item.user.id + 1}}"></md-icon>

                <div class="md-list-item-text" layout="column">
                <div><b>{{ item.user.name }}</b>, {{asDate(item)}} says </div>
              <!--<p ng-click="goToPerson(item.user.name, $event)">--> 

              <div>
              <div ng-switch="item.edit">
                <div  ng-switch-when="false" ng-dblclick="item.edit = true"  ng-bind-html="item.content"></div>
                <md-input-container  ng-switch-when="true" >
                    <label>Edit the Message:</label>
                    <input  type="text" ng-model="item.content" ng-keyup="editMessage($event, item)" />
                </md-input-container>
                <div ng-switch-default ng-dblclick="item.edit = false"  ng-bind-html="item.content"></div>
              </div>
              </div>
              </div>

              <!--</p> -->
              <md-checkbox class="md-secondary" ng-model="item.selected"></md-checkbox>  <!-- seems to automatically add attribute -->
            
              
              <md-button class="md-secondary md-icon-button"  ng-model="item.favorite" ng-click="item.favorite = !item.favorite">  
               <div ng-switch="item.favorite">
                    <md-icon ng-switch-when="true"  class="materials-icons" >star</md-icon>
                    <md-icon ng-switch-when="false" class="materials-icons" >star_border</md-icon>    
                    <md-icon ng-switch-default="false" class="materials-icons" >star_border</md-icon>              
                </div>
              </md-button>  

              <md-button class="md-secondary md-icon-button" ng-click="removeMessage(item.id)">
                <md-icon class="materials-icons" >delete_forever</md-icon>
              </md-button>
              
               <md-divider></md-divider>
            
            </md-list-item>
            
          </md-list>

            
            
        </div>

        </div>

      </div>

  

    </md-content>

              
  </section>

  <md-content>
    <md-subheader class="md-primary"> 
         <md-icon  class="materials-icons">message</md-icon><md-button class="md-raised md-primary" ng-click="addMessage(false)"><b>ADD MESSAGE</b></md-button>      
    </md-subheader>
    <text-angular ng-model="newMessage"  
    ta-toolbar="[['bold','italics','underline','strikeThrough','insertImage','insertLink','insertVideo']]"" name="editor" ta-text-editor-class="border-around" ta-html-editor-class="border-around"></text-angular>

  </md-content>

      

</div>

<!--- bottom sheet --->

 <!--<div ng-controller="BottomSheetExample" class="md-padding bottomSheetdemoBasicUsage" ng-cloak="" ng-app="slackApp">
  
  <div class="bottom-sheet-demo inset" layout="row" layout-sm="column" layout-align="center">
    <md-button flex="50" class="md-primary md-raised" ng-click="showListBottomSheet()">Show Actions</md-button>   
  </div>

  <div ng-if="alert">
    <br>
    <b layout="row" layout-align="center center" class="md-padding">
      {{alert}}
    </b>
  </div>

</script><script type="text/ng-template" id="bottom-sheet-list-template.html"><md-bottom-sheet class="md-list md-has-header">
  <md-subheader ng-cloak>Comment Actions</md-subheader>
  <md-list ng-cloak>
    <md-list-item ng-repeat="item in items">

      <md-button
          ng-click="listItemClick($index)"
          md-autofocus="$index == 2"
          class="md-list-item-content" >
        <md-icon md-svg-src="{{item.icon}}"></md-icon>
        <span class="md-inline-list-icon-label">{{ item.name }}</span>
      </md-button>

    </md-list-item>
  </md-list>
</md-bottom-sheet>
</script>


</div> -->


</body>
</html>

