<html ng-app="formApp">
 <head>
   <meta charset="utf-8">
   <title>To Do Example</title>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
   <script>
     var formApp = angular.module('formApp', []);
      formApp.controller('FormCtrl', function ($scope){

      $scope.errName = false;
      $scope.errEmail = false;
      $scope.errWebsite = false;
      $scope.errMessage = false;

      var form = {};
      form.name = "";
      form.email = "";
      form.website = "" ;
      form.message = "";

      $scope.form = form;

      $scope.update = function( event, t) {
          if( event.keyCode === 13 ){
              console.log(event);
              switch(t) {
              case 'name':
                  var name = event.target.value; 
                  if( name.length == 0 )
                    $scope.errName = true;
                  else
                     $scope.errName = false;
                  break;
              case 'email':
                  var email = event.target.value; 
                  if( email.indexOf('@') == -1 )
                    $scope.errEmail = true;
                   else
                     $scope.errEmail = false;  
                  break;
              case 'website':
                  var website = event.target.value; 
                  if( !website.startsWith("http://") )
                    $scope.errWebsite = true;
                   else
                     $scope.errWebsite = false;  
                  break;
              case 'message':
                  var message = event.target.value; 
                   if( message.length == 0 )
                    $scope.errMessage = true;
                   else
                     $scope.errMessage = false;  
                  break;        
              default:
                  
               }

               
             
          }
       };  
     
  });
     
   </script>
 </head>
 <body ng-controller="FormCtrl">

  <br/>
  Name: <input type="text" ng-model="form.name" ng-keyup="update($event, 'name')" />
  <br/>
  <span ng-show="errName">Name cannot be empty</span>
  <br/>

  Email: <input type="text" ng-model="form.email" ng-keyup="update($event, 'email')" />
  <br/>
  <span ng-show="errEmail">Email contains an @</span>
   <br/>

  Website: <input type="text" ng-model="form.website" ng-keyup="update($event, 'website')" />
  <br/>
  <span ng-show="errWebsite">Website must start with http://</span>
   <br/>

  Message: <input type="text" ng-model="form.message" ng-keyup="update($event, 'message')" />
  <br/>
  <span ng-show="errMessage">Message cannot be empty</span>
   <br/>
  
 </body>
</html>