<html>

<head>
    <title>User Info</title>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>

<form  name="form" ng-app novalidate>
<table>
    <tr>
        <td>
        <label>User Name</label>        
        </td>
        <td>
          <input name="name" type="text"  ng-model="name" placeholder="User Name" required />
          <table>
              <tr>
                  <td>
             <div ng-show="submitted && form.$invalid" >

            <span style="color:red" ng-show="form.name.$error.required">
                 User Name  Required</span>
                  </div>
                  </td>
              </tr>
          </table>
        </td>
        </tr>
        
</table>
  
  <button type="submit "   ng-click="submitted=true "> Add User </button>



</form>
</html>